<html>
    <title>Bonifacio Advocacia</title>
    <div id="preload">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/61105040792315.57e9ed8a410a6.gif" >
    <br><br>
        <a align=center style="font-size: larger; color: #5271ff; text-decoration: none;" href="../../../index.php">Voltar para a <b>HOME</b></a>

    </div>
    </html>
    
    
    <style type="text/css">
        
    
        body{
    background-color: #FFF;
        }
    
    #preload{
    
        width: auto;
        text-align: center;
        padding: 40px 20px;
    
    }
    
    img {
        max-width: 100%;
    }
    
    </style>
    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript">
    
        
    (function(){
    
    var preload = document.getElementById("preload");
    var loading = 0;
    var id = setInterval(frame, 64);
    
    
    function frame(){
    
    if(loading == 35){
        clearInterval(id);
        redirect();
    }else{
        loading = loading + 1;
    }
    
    }
    
    })();
    
    
    </script>